.DownloadWalletSec {
  @media (max-width: 768px) {
    padding: 100px 0 60px;
  }
  .downloadWalletMain {
    margin: 57px 0 17px 0;
    position: relative;
    padding: 0 20px;

    &::after {
      position: absolute;
      content: "";
      top: -65px;
      left: 0;
      width: 80px;
      height: 80px;
      background: url("../../../public/assets/Icons/cross.svg") no-repeat;
      transform: rotate(30deg);
    }
    &::before {
      position: absolute;
      content: "";
      top: -100px;
      left: 85px;
      width: 40px;
      height: 40px;
      background: url("../../../public/assets/Icons/Star.svg") no-repeat;
    }

    @media (max-width: 768px) {
      margin: 0;
      &::before {
        background: url("../../../public/assets/Icons/cross-mobile.svg") no-repeat;
        top: -110px;
        left: unset;
        right: 35px;
      }
      &::after {
        background: url("../../../public/assets/Icons/cross-mobile.svg") no-repeat;
        top: -75px;
        left: 23px;
        width: 57px;
        height: 57px;
      }
    }

    .downloadCardWrapper {
      border-radius: 40px;
      max-width: 700px;
      margin: auto;
      padding: 3px;
      background: linear-gradient(
        270deg,
        rgba(189, 192, 241, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      position: relative;
      z-index: 5;

      .circle {
        position: absolute;
        top: -67px;
        left: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #7d89e7;
      }

      &::before {
        position: absolute;
        content: "";
        top: -30px;
        right: -19px;
        width: 108px;
        height: 108px;
        border-radius: 50%;
        background: #c8cbf5;
        z-index: -1;
      }

      &::after {
        position: absolute;
        content: "";
        bottom: -67px;
        left: -9px;
        width: 192px;
        height: 192px;
        border-radius: 50%;
        background: #c8cbf5;
        z-index: -1;
      }

      @media (max-width: 768px) {
        &::before {
          width: 76px;
          height: 76px;
          top: -34px;
          right: -15px;
        }  
        &::after {
          width: 96px;
          height: 96px;
          bottom: -34px;
        }  
        .circle {
          top: -57px;
          left: 180px;
        }
      }

      .downloadCard {
        border-radius: 40px;
        padding: 40px;
        text-align: center;
        background: #4251da;
        position: relative;

        .title {
          color: #fff;
          font-family: Archivo;
          font-size: 56px;
          font-style: normal;
          font-weight: 700;
          line-height: 64px;
          margin-bottom: 16px;
        }
        .description {
          color: #fff;
          font-family: Roboto;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0.27px;
          margin-bottom: 36px;
        }
        .downloadBtn {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 16px;
        }

        @media (max-width: 768px) {
          padding: 40px 16px;

          .title {
            font-size: 48px;
            font-weight: 500;
            line-height: 56px;
          }
          .description {
            margin-bottom: 32px;
          }
          .downloadBtn{
            flex-wrap: wrap;
          }          
        }
      }
    }
  }
}
