.footer_main_div {
  height: 448px;
  display: block;
  position: relative;

  .footer_sub_div {
    position: relative;
    width: 1240px;
    height: 448px;
    padding: 80px 100px 94px 100px;
    display: flex;
    gap: 100px;
    margin: 0 auto;

    .rightsreserved {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0%);

      p {
        color: #a1a1aa;
        font-family: "Inter";
        font-size: 12.517px;
        font-style: normal;
        font-weight: 400;
        line-height: 23.115px;
      }
    }
  }

  h2 {
    color: #4251da;
    font-family: "Roboto";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.3px;
    padding-bottom: 20px;
  }

  li {
    color: #52525b;
    padding-bottom: 20px;
    font-family: "Roboto";
    list-style: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.72px;
    cursor: pointer;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 448px;
    background-image: url("../../../public/assets/Icons/foterroundImage.svg");
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
  }

  .logo_Image {
    width: 243px;
    height: 56px;

    img {
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }

  .connect_with_us_div {
    .ImageLogos {
      text-align: left;
      display: flex;
      gap: 15px;
    }
  }

  .quick_link_div {
    display: flex;
    gap: 50px;
  }
}

.footer_responsive_div {
  height: 550px;
  padding: 80px 20px;
  position: relative;
  display: none;

  .rightsreserved {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0%);

    p {
      color: #a1a1aa;
      font-family: "Inter";
      font-size: 12.517px;
      font-style: normal;
      font-weight: 400;
      line-height: 23.115px;
      width: 217px;
    }
  }

  .quick_links_flex {
    display: flex;
    gap: 60px;

    .contact_us_flex {
      display: flex;
      flex-direction: column;
      gap: 48px;

      .connect_with_us_div {
        .ImageLogos {
          display: flex;
          gap: 15px;
        }
      }
    }
  }

  h2 {
    color: #4251da;
    font-family: "Roboto";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.3px;
    padding-bottom: 20px;
  }

  p {
    color: #52525b;
    padding-bottom: 16px;
    font-family: "Roboto";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.72px;
  }

  .logo_Image {
    width: 190px;
    height: 48px;
    margin: 0 auto;
    margin-bottom: 60px;

    img {
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 550px;
    background-image: url("../../../public/assets/Icons/footerroundImage.svg");
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
  }
}

@media (max-width: 768px) {
  .footer_responsive_div {
    display: block;
  }

  .footer_main_div {
    display: none;
  }
}