.Token_distribution_main {
  padding-bottom: 0;

  position: relative;
  .Token_distribution_sub {
    display: block;
    &::after {
      content: "";
      position: absolute;
      left: 505px;
      top: -20px;
      width: 100px;
      height: 100px;
      background-image: url("../../../public/assets/Icons/starIcon.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    .Token_distribution_title {
      h3 {
        color: #a1a1aa;
        font-family: "Roboto";
        font-size: 20px;
        text-align: center;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.3px;
        span {
          color: #4251da;
          font-weight: 700;
        }
      }
      h2 {
        color: #18181b;
        text-align: center;
        font-family: "Archivo";
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 56px;
        align-self: stretch;
      }
      p {
        color: #a1a1aa;
        text-align: center;
        font-family: "Roboto";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.27px;
        flex: 1 0 0;
      }
    }
    .Token_distribution_image {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      .Token_distribution_image_dis {
        div {
          border-radius: 12px;
          border: 1px solid #a3aaee;
          background: #fff;
          width: 200px;
          padding: 12px;
          position: static;
          z-index: 1;
          p {
            color: #18181b;
            text-align: center;
            font-family: "Roboto";
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            letter-spacing: 0.72px;
          }
        }
        .dis1 {
          position: absolute;
          top: 167px;
          left: 0px;
        }
        .dis2 {
          position: absolute;
          top: 320px;
          left: 47px;
        }
        .dis3 {
          position: absolute;
          top: 470px;
          left: 0px;
        }
        .dis4 {
          position: absolute;
          top: 620px;
          left: 100px;
        }
        .dis5 {
          position: absolute;
          top: 167px;
          left: 940px;
        }
        .dis6 {
          position: absolute;
          top: 305px;
          left: 1020px;
        }
        .dis7 {
          position: absolute;
          top: 450px;
          left: 982px;
        }
        .dis8 {
          position: absolute;
          top: 595px;
          left: 870px;
        }
      }
      .tokenImage {
        position: relative;
        z-index: 1;
        height: auto;
      }
      // .Token_distribution_subimage {
      //   position: absolute;
      //   left: 57px;
      //   top: 128px;
      //   width: 930.716px;
      //   height: 577.614px;
      //   background-image: url("../../../public/assets/Icons/tozeAiLines.svg");
      //   background-repeat: no-repeat;
      //   background-size: cover;
      // }
    }
  }
  .responsive_token_said_dis {
    display: flex;
    flex-direction: column;
    gap: 16px;
    display: none;
    h3 {
      color: #a1a1aa;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.27px;
      text-align: center;
      span {
        color: #4251da;
        font-weight: 400;
      }
    }
    h2 {
      color: #18181b;
      text-align: center;
      font-family: Archivo;
      font-size: 48px;
      font-style: normal;
      font-weight: 500;
      line-height: 56px;
    }
    p {
      color: #a1a1aa;
      text-align: center;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }
  }
  .responsive_token_said {
    display: none;
    .responsive_token_Image {
      display: flex;
      justify-content: center;
      .responsive_token_Image_dis {
        div {
          border-radius: 12px;
          border: 1px solid #a3aaee;
          background: #fff;
          width: 134px;
          padding: 12px;
          p {
            color: #18181b;
            text-align: center;
            font-family: "Roboto";
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: 0.21px;
          }
        }
        .dis1 {
          position: absolute;
          top: 262px;
          left: 208px;
        }
        .dis2 {
          position: absolute;
          top: 165px;
          left: 245px;
        }
        .dis3 {
          position: absolute;
          top: 165px;
          left: 388px;
        }
        .dis4 {
          position: absolute;
          top: 262px;
          left: 425px;
        }
        .dis5 {
          position: absolute;
          top: 550px;
          left: 200px;
        }
        .dis6 {
          position: absolute;
          top: 645px;
          left: 254px;
        }
        .dis7 {
          position: absolute;
          top: 645px;
          left: 397px;
        }
        .dis8 {
          position: absolute;
          top: 550px;
          left: 437px;
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .tokenImage {
    width: 100%;
    height: auto;
  }
  .Token_distribution_image_dis {
    div {
      width: 170px !important;
      padding: 10px !important;
      p {
        font-size: 15px !important;
        line-height: 20px !important;
      }
    }
    .dis1 {
      position: absolute;
      top: 120px !important;
      left: 20px !important;
    }
    .dis2 {
      position: absolute;
      top: 230px !important;
      left: 65px !important;
    }
    .dis3 {
      position: absolute;
      top: 336px !important;
      left: 20px !important;
    }
    .dis4 {
      position: absolute;
      top: 447px !important;
      left: 110px !important;
    }
    .dis5 {
      position: absolute;
      top: 120px !important;
      left: 73% !important;
    }
    .dis6 {
      position: absolute;
      top: 224px !important;
      left: 78% !important;
    }
    .dis7 {
      position: absolute;
      top: 325px !important;
      left: 80% !important;
    }
    .dis8 {
      position: absolute;
      top: 430px !important;
      left: 66% !important;
    }
  }
}
@media (max-width: 768px) {
  .Token_distribution_main {
    padding: 40px 20px 80px;
    .token_distribution_p {
      padding: 60px;
    }
  }
  .Token_distribution_main {
    .Token_distribution_sub {
      display: none;
    }
    .responsive_token_said,
    .responsive_token_said_dis {
      display: block;
    }
  }
}
@media (max-width:425px) {
  .responsive_token_said {
    .responsive_token_Image {
      .responsive_token_Image_dis {
        .dis1 {
          top: 224px !important;
          left: 208px !important;
        }
        .dis2 {
          top: 224px !important;
          left: 58px !important;
        }
        .dis3 {
          top: 343px !important;
          left: 31px !important;
        }
        .dis4 {
          top: 343px !important;
          left: 258px !important;
        }
        .dis5 {
          top: 702px !important;
          left: 70px !important;
        }
        .dis6 {
          top: 700px !important;
          left: 225px !important;
        }
        .dis7 {
          top: 600px !important;
          left: 31px !important;
        }
        .dis8 {
          top: 600px !important;
          left: 258px !important;
        }
      }
    }
  }
}
@media (max-width: 390px) {
  .responsive_token_said {
    .responsive_token_Image {
      .responsive_token_Image_dis {
        .dis1 {
          top: 320px !important;
          left: 23px !important;
        }
        .dis2 {
          top: 225px !important;
          left: 56px !important;
        }
        .dis3 {
          top: 225px !important;
          left: 199px !important;
        }
        .dis4 {
          top: 320px !important;
          left: 233px !important;
        }
        .dis5 {
          top: 612px !important;
          left: 23px !important;
        }
        .dis6 {
          top: 705px !important;
          left: 54px !important;
        }
        .dis7 {
          top: 705px !important;
          left: 197px !important;
        }
        .dis8 {
          top: 612px !important;
          left: 237px !important;
        }
      }
    }
  }
}
